@using InternetLabs.App_Data
<!DOCTYPE html>
<html ng-app="project">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Котенко Денис</title>
    @Styles.Render("~/Content/css")
    <link href="@Href("../../Content/font-awesome.css")" rel="stylesheet">
    <link href="@Href("../../Content/lab3.css")" rel="stylesheet">
    <script src="@Href("../../Scripts/labs.js")" type="text/javascript"></script>
    <script src="@Href("../../Scripts/lab2.js")" type="text/javascript"></script>
    <script src="@Href("../../Scripts/lab3.js")" type="text/javascript"></script>
    <script src="@Href("../../Scripts/lab4.js")" type="text/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular-resource.min.js">
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular-route.min.js">
    </script>
    <script src="https://cdn.firebase.com/js/client/2.0.4/firebase.js"></script>
    <script src="https://cdn.firebase.com/libs/angularfire/0.9.0/angularfire.min.js"></script>

    @*<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular-route.min.js"></script>*@
    <script src="@Href("../../Scripts/lab5.js")" type="text/javascript"></script>
</head>
<body id="body" onmousemove="track();">
    @Html.Partial("Header")

    <div style="display: flex;">
        <div style="min-width: 260px; margin-right: 6px;">
            <div style="background: #00BCD4; height: 15px;"></div>
            <div class="menu">
                <div>
                    <i class="fa fa-home" aria-hidden="true"></i>
                    <a href="@Url.Action("Index", "Home")">Домашня сторінка</a>
                </div>
                <div>
                    <i class="fa fa-folder-open" aria-hidden="true"></i>
                    <a href="@Url.Action("HtmlBlock", "Home")">Html</a>
                </div>
                <div>
                    <i class="fa fa-clone" aria-hidden="true"></i>
                    <a href="@Url.Action("Lab1", "Home")">Лр. №1 Мова HRML. Фрейми</a>
                </div>
                <div>
                    <i class="fa fa-clone" aria-hidden="true"></i>
                    <a href="@Url.Action("Lab2", "Home")">Лр. №2 Таблиці</a>
                </div>
                <div>
                    <i class="fa fa-clone" aria-hidden="true"></i>
                    <a href="@Url.Action("Lab3", "Home")">Лр. №3 Каскадні таблиці стилів</a>
                </div>
                <div>
                    <i class="fa fa-clone" aria-hidden="true"></i>
                    <a href="@Url.Action("Lab4", "Home")">Лр. №4 Форми</a>
                </div>
                <div>
                    <i class="fa fa-clone" aria-hidden="true"></i>
                    <a href="@Url.Action("Lab5", "Home")">Лр. №5 XML</a>
                </div>
                <div>
                    <i class="fa fa-folder-open" aria-hidden="true"></i>
                    <a href="@Url.Action("HtmlBlock", "Home")">Java Script</a>
                </div>
                <div>
                    <i class="fa fa-clone" aria-hidden="true"></i>
                    <a href="@Url.Action("JsLab1", "Home")">Лр. №1 Основи мови JavaScript</a>
                </div>
                <div>
                    <i class="fa fa-clone" aria-hidden="true"></i>
                    <a href="@Url.Action("JsLab2", "Home")">Лр. №2 Масиви, таблиці</a>
                </div>
                <div>
                    <i class="fa fa-clone" aria-hidden="true"></i>
                    <a href="@Url.Action("JsLab3", "Home")">Лр. №3 Анімація</a>
                </div>
                <div>
                    <i class="fa fa-clone" aria-hidden="true"></i>
                    <a href="@Url.Action("JsLab4", "Home")">Лр. №4 Події</a>
                </div>
                <div>
                    <i class="fa fa-clone" aria-hidden="true"></i>
                    <a href="@Url.Action("JsLab5", "Home")">Лр. №5 Форми</a>
                </div>
                <div>
                    <i class="fa fa-clone" aria-hidden="true"></i>
                    <a href="@Url.Action("Game", "Home")">JS Гра</a>
                </div>
            </div>

            @*<ul>
                <li>
                    <a href="@Url.Action("Index", "Home")">Домашня сторінка</a>
                </li>
                <li>
                    <a href="@Url.Action("Lab1", "Home")">Лабораторна №1</a>
                </li>
            </ul>*@
            <div style="background: #0097A7; width: 10px;"></div>
        </div>
        <div style="width: 100%;">
            @RenderBody()
        </div>
        <div>
            @Html.Partial("RightBar")
        </div>
    </div>

    <footer>
        <hr/>
        <p>&copy; @DateTime.Now.Year - Denys Kotenko</p>
    </footer>

    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
